[submodule "vimfiles/pack/plugins/start/vim-airline"]
	path = vimfiles/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vimfiles/pack/plugins/start/monokai-pro.vim"]
	path = vimfiles/pack/plugins/start/monokai-pro.vim
	url = https://github.com/co1ncidence/monokai-pro.vim
[submodule "vimfiles/pack/plugins/start/vim-vinegar"]
	path = vimfiles/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vimfiles/pack/plugins/start/coc.nvim"]
	path = vimfiles/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vimfiles/pack/plugins/start/hybrid.vim"]
	path = vimfiles/pack/plugins/start/hybrid.vim
	url = https://github.com/vim-scripts/hybrid.vim
[submodule "vimfiles/pack/plugins/start/vim-dogrun"]
	path = vimfiles/pack/plugins/start/vim-dogrun
	url = https://github.com/wadackel/vim-dogrun
[submodule "vimfiles/pack/plugins/start/auto-pairs"]
	path = vimfiles/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vimfiles/pack/plugins/start/vim-rainbow"]
	path = vimfiles/pack/plugins/start/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow
[submodule "vimfiles/pack/plugins/start/nerdtree"]
	path = vimfiles/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
