

snippet date
`!v strftime("%Y-%m-%d")`
endsnippet

snippet	fname
`!v expand('%:t')`
endsnippet

snippet filehead "Description" b
// Filename: `!v expand('%:t')`
//
// Description: $1
//
// Author(s): Colin J. Mills (colin.j.mills96@gmail.com)
// 
// Date: `!v strftime("%Y-%m-%d")`
//
//
endsnippet

