
snippet fn "A function trigger" b
function $1 ($2)
{

}
endsnippet


snippet object "A base object" b

var $1 = 
{
	create: $2() 
			{
				

			};

};

endsnippet


snippet incom "an inner comment" b
/** $1 **/
endsnippet


snippet consl "Console.log" b
console.log("$1")
endsnippet


