

snippet fn "Creates a method" b
public function $1()
{

}
endsnippet

snippet nclass "Create a new class" b
<?php

namespace $1

class $2
{
	public function __construct()
	{


	}
}

endsnippet


snippet div "Creates a div" 
<div class="$1">

</div>
endsnippet
